/* line 1, ../sass/_picker.scss */
#hslpicker {
  margin: 0 auto;
}

/* line 5, ../sass/_picker.scss */
#color:before, .slider:before {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: 0px 0px, 10px 10px;
}

/* line 17, ../sass/_picker.scss */
#color:before, .slider:before, #color:after, .slider:after {
  content: "";
  z-index: -1;
}
/* line 21, ../sass/_picker.scss */
#color:after, .slider:after {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -4px;
  right: -4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
}
/* line 26, ../sass/_picker.scss */
#color:before, .slider:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 32, ../sass/_picker.scss */
#color {
  position: relative;
  width: 119px;
  height: 119px;
  margin-bottom: 15px;
  margin-top: 3px;
  margin-right: 10px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}
/* line 39, ../sass/_picker.scss */
#color:before, #color:after {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 45, ../sass/_picker.scss */
.slider {
  position: relative;
  width: 381px;
  margin: 3px 5px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  cursor: pointer;
  height: 20px;
  float: left;
  clear: left;
}
/* line 57, ../sass/_picker.scss */
.slider:after, .slider:before {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 61, ../sass/_picker.scss */
.slider:hover .handle {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 67, ../sass/_picker.scss */
.handle {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: -1px;
  content: " ";
  width: 22px;
  height: 22px;
  z-index: 1;
  background-color: #dddddd;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 15, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background-image: -webkit-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  background-image: -moz-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  background-image: -o-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  background-image: radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: white 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
  -moz-box-shadow: white 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
  box-shadow: white 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
}

/* line 83, ../sass/_picker.scss */
#controls {
  overflow: hidden;
  *zoom: 1;
}
/* line 85, ../sass/_picker.scss */
#controls input {
  width: 30px;
  font-size: .8em;
  padding: 3px 6px;
  float: left;
  margin-left: 8px;
}

/* line 94, ../sass/_picker.scss */
#colors {
  clear: left;
}
/* line 96, ../sass/_picker.scss */
#colors input {
  text-align: center;
}

/* line 99, ../sass/_picker.scss */
input {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  border: 0;
  padding: 8px 6px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
}
/* line 109, ../sass/_picker.scss */
input:focus {
  outline: none;
  color: #fff;
}

/* line 112, ../sass/_picker.scss */
#hex {
  width: 4.8em;
}

/* line 113, ../sass/_picker.scss */
#rgba {
  width: 13.2em;
}

/* line 114, ../sass/_picker.scss */
#hsla {
  width: 14em;
}

/* line 116, ../sass/_picker.scss */
input.error {
  -webkit-box-shadow: rgba(255, 127, 127, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 127, 127, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 127, 127, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background-color: rgba(102, 0, 0, 0.3);
  color: #ff0f0f;
}

@font-face {
  font-family: "AdelleBasic";
  src: url('/fonts/adellebasic_bold-webfont.ttf') format('truetype'), url('/fonts/adellebasic_bold-webfont.svg') format('svg'), url('/fonts/adellebasic_bold-webfont.woff') format('woff'), url('/fonts/adellebasic_bold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "CaviarDreams";
  src: url('/fonts/caviardreams-webfont.ttf') format('truetype'), url('/fonts/caviardreams-webfont.svg') format('svg'), url('/fonts/caviardreams-webfont.woff') format('woff'), url('/fonts/caviardreams-webfont.eot') format('embedded-opentype');
}

/* line 8, ../sass/site.scss */
html {
  text-align: center;
  -webkit-background-size: 80px 80px;
  -moz-background-size: 80px 80px;
  -o-background-size: 80px 80px;
  background-size: 80px 80px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(0, 0, 0, 0.1)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-color: #555;
}

/* line 14, ../sass/site.scss */
body {
  background: none;
  padding: 0px 0px 40px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 19, ../sass/site.scss */
body:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/* line 26, ../sass/site.scss */
body > div, body > section, body > heading {
  width: 580px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../sass/site.scss */
.heading-font, h1, h2, h3 {
  font-family: 'AdelleBasic', sans;
  font-weight: normal;
}

/* line 38, ../sass/site.scss */
h1, h2, h3 {
  color: #eee;
  font-weight: normal;
}

/* line 44, ../sass/site.scss */
a {
  -webkit-transition: color, 0.5s;
  -moz-transition: color, 0.5s;
  -o-transition: color, 0.5s;
  transition: color, 0.5s;
  color: #eee;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* line 51, ../sass/site.scss */
#why {
  color: #c6c6c6;
  font-size: .9em;
  line-height: 1.45em;
  margin-top: 1em;
  padding-top: 1em;
  text-align: left;
  overflow: hidden;
}
/* line 60, ../sass/site.scss */
#why pre, #why h2, #why h3, #why p {
  display: none;
}
/* line 61, ../sass/site.scss */
#why p {
  font-family: "Lucida sans", Helvetica, Arial, sans;
}
/* line 62, ../sass/site.scss */
#why strong {
  color: #ccc;
}
/* line 63, ../sass/site.scss */
#why a.why {
  color: #444;
  text-shadow: #000 0 0 2px;
  text-transform: lowercase;
  display: block;
  width: 3.5em;
  margin: 0 auto;
  text-align: center;
  display: none;
}
/* line 74, ../sass/site.scss */
#why.hello {
  margin-top: 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 2.5em .5em;
  background: rgba(0, 0, 0, 0.2);
}
/* line 81, ../sass/site.scss */
#why.hello h2, #why.hello h3 {
  text-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px;
}
/* line 82, ../sass/site.scss */
#why.hello pre, #why.hello h2, #why.hello h3, #why.hello p {
  display: block;
}

/* line 86, ../sass/site.scss */
#footer {
  color: #555;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  margin-top: 1.3em;
  font-size: .85em;
}
/* line 91, ../sass/site.scss */
#footer a {
  display: inline-block;
  color: #666;
  line-height: 1.1em;
  border-color: #555;
}
/* line 96, ../sass/site.scss */
#footer a + a {
  margin-left: 1em;
  position: relative;
}
/* line 99, ../sass/site.scss */
#footer a + a:before {
  content: " ";
  display: block;
  position: absolute;
  left: -0.7em;
  top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
  width: 1px;
  height: 1.3em;
}
